
<div class="col-md-6 col-md-offset-4"><h2>This is your homepage on<img src="../images/Logomakr_4BaWu7.png" style="max-width:200px; margin-top: -7px"></h2>
</div>
<div class="col-md-12">
  <ul class="display" style="list-style: none;">
  </ul>
</div>


<div class="page-list col-md-12" >

</div>
