<<<<<<< HEAD
<h1>Works</h1>
<div id="location">

</div>
=======
<h1>SHOW EACH Business</h1>
<%= data.name %>
<br>
<%= data.location.display_address %>
<br>
<%= data.phone %>
>>>>>>> ccd1f14e4cc273be24c9b9c6fa2aca288f89d59f
